body{
margin:0;
background:#000;
color:#00ffff;
font-family:monospace;
text-align:center;
overflow-x:hidden;
}

/* TERMINAL LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:black;
color:#00ff00;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

#terminal{
font-size:16px;
white-space:pre-line;
}

/* GRID */
.bg-grid{
position:fixed;
width:100%;
height:100%;
background:
linear-gradient(#00ffff22 1px,transparent 1px),
linear-gradient(90deg,#00ffff22 1px,transparent 1px);
background-size:40px 40px;
animation:move 5s linear infinite;
z-index:-2;
}

@keyframes move{
from{background-position:0 0;}
to{background-position:0 40px;}
}

/* SCANLINE */
.scanline{
position:fixed;
width:100%;
height:100%;
background:repeating-linear-gradient(
0deg,
rgba(0,255,255,0.05) 0px,
rgba(0,255,255,0.05) 1px,
transparent 1px,
transparent 3px
);
pointer-events:none;
z-index:-1;
}

/* CONTAINER */
.container{
margin:60px auto;
padding:30px;
width:90%;
max-width:600px;
border:2px solid #00ffff;
box-shadow:0 0 30px #00ffff;
background:rgba(0,0,0,0.85);
}

/* AVATAR RGB */
.avatar{
width:140px;
height:140px;
border-radius:50%;
object-fit:cover;
padding:4px;
background:linear-gradient(45deg, red, blue, lime, cyan, red);
background-size:300% 300%;
animation:rgbBorder 4s linear infinite;
margin-bottom:15px;
}

@keyframes rgbBorder{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* GLITCH */
.glitch{
font-size:36px;
position:relative;
}

.glitch::before,
.glitch::after{
content:attr(data-text);
position:absolute;
left:0;
}

.glitch::before{
color:red;
animation:glitch 0.5s infinite;
}

.glitch::after{
color:blue;
animation:glitch 0.5s infinite reverse;
}

@keyframes glitch{
0%{left:3px;}
50%{left:-3px;}
100%{left:3px;}
}

/* SYSTEM BARS */
.system{
text-align:left;
margin-top:20px;
}

.bar{
width:100%;
height:8px;
background:#111;
margin:5px 0;
border-radius:5px;
overflow:hidden;
}

.fill{
height:100%;
background:#00ffff;
transition:0.5s;
}

#warning{
color:red;
margin-top:10px;
}

/* BUTTONS */
.btn{
display:block;
margin:10px auto;
padding:10px;
width:80%;
border:1px solid #00ffff;
color:#00ffff;
text-decoration:none;
background:transparent;
cursor:pointer;
}

.btn:hover{
background:#00ffff;
color:#000;
}

/* GALLERY */
.gallery img{
width:80px;
margin:5px;
cursor:pointer;
border:1px solid #00ffff;
}

#popup{
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}

#popup img{
max-width:90%;
max-height:90%;
}